@model IEnumerable<QuizApp.Models.Quiz>

@{
    ViewData["Title"] = "Home Page";
}

<h1>GITHUB test 2222</h1>
<div class="text-center">
    <h1 class="display-4">This is a quiz aplication</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Quizzes" asp-action="Solve" asp-route-id="@item.QuizID" asp-route-questionIndex="0">Solve</a>
                </td>
            </tr>
        }

    </tbody>
</table>
